.current_class_parent {
    font-family: Exo sans-serif;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.learning_ratio_monitor_container {
    height: 100%;
    grid-area: l;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transcript {
    height: 100%;
    font-family: Exo;
}

.transcript_text {
    width: 100%;
    height: 100%;
}

.right_third {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.heading_1 {
    padding: 20px;
    font-family: 'Kaushan Script', sans-serif;
    color: #41a6ff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.learning_ratio_monitor {
    width: 100px;
    height: 100px;
    border-radius: 400px;
}

.classroom_panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #43b2e2;
}

.no_class_selected {
    font-size: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classroom_list_header {
    margin: 20px;
    padding-top: 40px;
    -webkit-align-self: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.classroom_list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.classroom_name {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 20px;
}

.new_room_field {
    height: 30px;
    width: 80%;
    max-width: 200px;
    border: 0 solid #3898ec;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.new_class_form {
    padding-bottom: 40px;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    justify-self: flex-end;
}

.submit_button {
    padding: 6px 25px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -webkit-transition: color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
    transition: transform 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
    font-family: Exo, sans-serif;
    font-size: 15px;
}

.educator_home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-family: Exo, sans-serif;
    margin: 10px 0;
}
